<!DOCTYPE html>
<html lang="en"><!-- InstanceBegin template="/templates/productlocator-mobile.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
	<meta charset="utf-8">
    
	<!-- InstanceBeginEditable name="doctitle" -->
	<title>Product Locator - Location</title>
	<!-- InstanceEndEditable -->  
    
    <link rel="stylesheet" href="scripts/libs/jquery/jquery.mobile.min.css">
    <link rel="stylesheet" href="css/ios_inspired/styles.css" />     
    <link rel="stylesheet" href="css/productlocator.css">    
    
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">    
    <link rel="apple-touch-startup-image" href="images/apple-touch-splash.png" /> 

    <meta name="apple-mobile-web-app-capable" content="yes" />  
	<meta name="viewport" content="width = device-width, initial-scale = 1, user-scalable = no" />  
    
    <script src="scripts/libs/phonegap/phonegap.js"></script>
    <script data-main="scripts/main" src="scripts/libs/requirejs/require.min.js"></script> 
    
	<!-- InstanceBeginEditable name="head" -->
	<meta name="description" content="">
	<meta name="author" content="">
	<!-- InstanceEndEditable -->
</head>
<body>
	<!-- InstanceBeginEditable name="PageBody" -->
<!-- /////////////// Page /////////////// -->
<div id="location" data-role="page">
	<div data-role="header" class="header" data-theme="b" data-position="fixed" data-id="header">
	    <a href="#" data-rel="back" data-direction="reverse" data-transition="slide">Back</a>
        <h1>Stockist Detail</h1>
	</div><!-- /header -->

	<div data-role="content" class="content">	

	</div><!-- /content -->
	
	<div data-role="footer" class="footer" data-position="fixed" data-id="footer"><!-- #BeginLibraryItem "/Library/footer-template.lbi" -->
<div><!-- #BeginLibraryItem "/Library/footer-general.lbi" -->
<div data-role="navbar" data-iconpos="top" class="nav-glyphish-icons footerNavbarGeneral">
    <ul>
        <li><a href="#" class="nav-button-home navGoHome" data-icon="custom" data-direction="reverse" data-transition="slide">Home</a></li>
        <li class="general"><a href="#" class="nav-button-products navViewProducts" data-icon="custom">Products</a></li>
        <li class="general"><a href="#" class="nav-button-locations navViewLocations" data-icon="custom">Locations</a></li>
        <li class="general"><a href="#" class="nav-button-socialconnect navSocialConnect" data-icon="custom">Connect</a></li>
    </ul>
</div>  <!-- #EndLibraryItem --><!-- #BeginLibraryItem "/Library/footer-location.lbi" -->
<div data-role="navbar" data-iconpos="top" class="nav-glyphish-icons footerNavbarLocation">
    <ul>
        <li><a href="#" class="nav-button-home navGoHome" data-icon="custom" data-direction="reverse" data-transition="slide">Home</a></li>
        <li class="location"><a href="#" class="nav-button-products navLocationProducts" data-icon="custom">Stock</a></li>
        <li class="location"><a href="#" class="nav-button-socialconnect navLocationSocialConnect" data-icon="custom">Social</a></li>
    </ul>
</div> <!-- #EndLibraryItem --><!-- #BeginLibraryItem "/Library/footer-product.lbi" -->
<div data-role="navbar" data-iconpos="top" class="nav-glyphish-icons footerNavbarProduct">
    <ul>
        <li><a href="#" class="nav-button-home navGoHome" data-icon="custom" data-direction="reverse" data-transition="slide">Home</a></li>
        <li class="product"><a href="#" class="nav-button-locations navProductViewLocations" data-icon="custom">Stockists</a></li>
        <li class="product"><a href="#" class="nav-button-nearest navProductNearest" data-icon="custom">Nearest</a></li>
    </ul>
</div>  <!-- #EndLibraryItem --></div><!-- #EndLibraryItem --></div><!-- /footer -->

<!-- /////////////// Templates /////////////// -->
<script type="text/template" id="location-detail-body">
	<div>
		<h3><%= = name %></h3>
		<div class="content-container"> 
			<%= if (image.length > 0) { %>
				<img src="<%= = image %>" class="contents-image" alt="<%= = name %> image"/>
			<%= } %>
			<p class="contents-block"><%= = description %></p>
		</div>
		
		<div class="device-action-button-container" data-inline="true">
			<%= if (latitude != null && longitude != null) { %>
				<button class="device-action-button viewLocationMap">Map</button>
			<%= } %>
			
			<%= if (phone.length > 0) { %>
				<button class="device-action-button callLocationPhone">Call</button>
			<%= } %>	
			
			<%= if (email.length > 0) { %>
				<button class="device-action-button emailLocation">Email</button>
			<%= } %>	
			
			<%= if (url.length > 0) { %>
				<button class="device-action-button viewLocationWeb">Web</button>
			<%= } %>
		</div>
		
		<%= if (phone.length > 0 || email.length > 0 || url.length > 0 || twitter.length > 0) { %>
			<h3>Contact Details</h3>
			<div class="content-container">
				<dl class="contact-details">
					<%= if (phone.length > 0) { %>
						<dt class="phone">Phone</dt>
						<dd class="phone"><%= = phone %></dd>
					<%= } %>
					
					<%= if (email.length > 0) { %>
						<dt class="email">Email</dt>
						<dd class="email"><%= = email %></dd>
					<%= } %>
					
					<%= if (url.length > 0) { %>
						<dt class="web">Web</dt>
						<dd class="web"><%= = url %></dd>
					<%= } %>
					
					<%= if (twitter.length > 0) { %>
						<dt class="twitter">Twitter</dt>
						<dd class="twitter"><%= = twitter %></dd>
					<%= } %>
				</dl>
			</div>
		<%= } %>
		
		<%= if (address01.length > 0 || address02.length > 0 || city.length > 0 || postcode.length > 0) { %>
			<h3>Address Details</h3>
			<div class="content-container">
				<address>
					<dl class="address-details">
						<dt class="street">Street</dt>
						<dd class="street"><%= = address01 %></dd>
						
						<%= if (address02.length > 0) { %>
							<dt class="street"></dt>
							<dd class="street"><%= = address02 %></dd>
						<%= } %>
		
						<dt class="city">City</dt>
						<dd class="city"><%= = city %></dd>
						
						<%= if (postcode.length > 0) { %>
							<dt class="postcode">Postcode</dt>
							<dd class="postcode"><%= = postcode %></dd>
						<%= } %>
						
						<!-- TODO Country? -->
					</dl>
				</address>
			</div>	
		<%= } %>
	</div>
</script>
</div><!-- /page -->  
    <!-- InstanceEndEditable -->
</body>
<!-- InstanceEnd --></html> 