<!DOCTYPE html>
<html lang="en"><!-- InstanceBegin template="/templates/productlocator-mobile.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
	<meta charset="utf-8">
    
	<!-- InstanceBeginEditable name="doctitle" -->
	<title>Product Locator - Products</title>
	<!-- InstanceEndEditable -->  
    
    <link rel="stylesheet" href="scripts/libs/jquery/jquery.mobile.min.css">
    <link rel="stylesheet" href="css/ios_inspired/styles.css" />     
    <link rel="stylesheet" href="css/productlocator.css">    
    
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">    
    <link rel="apple-touch-startup-image" href="images/apple-touch-splash.png" /> 

    <meta name="apple-mobile-web-app-capable" content="yes" />  
	<meta name="viewport" content="width = device-width, initial-scale = 1, user-scalable = no" />  
    
    <script src="scripts/libs/phonegap/phonegap.js"></script>
    <script data-main="scripts/main" src="scripts/libs/requirejs/require.min.js"></script> 
    
	<!-- InstanceBeginEditable name="head" -->
	<meta name="description" content="">
	<meta name="author" content="">
	<!-- InstanceEndEditable -->
</head>
<body>
	<!-- InstanceBeginEditable name="PageBody" -->
!-- /////////////// Page /////////////// -->
<div id="products" data-role="page" data-iscroll="enable">
	<div data-role="header" class="header" data-theme="b" data-position="fixed" data-id="header">
    	<a href="#" data-rel="back" data-direction="reverse" data-transition="slide">Back</a>
        <h1>Products</h1>
	</div><!-- /header -->

	<div data-role="content">	
    	<div data-iscroll="scroller" class="content">
            <ul id="product-list" data-role="listview" data-filter-placeholder="Search products..." data-filter="true" data-icon="arrow-r">
            </ul>
        </div>
	</div><!-- /content -->
	
	<div data-role="footer" class="footer" data-position="fixed" data-id="footer"><!-- #BeginLibraryItem "/Library/footer-template.lbi" -->
<div><!-- #BeginLibraryItem "/Library/footer-general.lbi" -->
<div data-role="navbar" data-iconpos="top" class="nav-glyphish-icons footerNavbarGeneral">
    <ul>
        <li><a href="#" class="nav-button-home navGoHome" data-icon="custom" data-direction="reverse" data-transition="slide">Home</a></li>
        <li class="general"><a href="#" class="nav-button-products navViewProducts" data-icon="custom">Products</a></li>
        <li class="general"><a href="#" class="nav-button-locations navViewLocations" data-icon="custom">Locations</a></li>
        <li class="general"><a href="#" class="nav-button-socialconnect navSocialConnect" data-icon="custom">Connect</a></li>
    </ul>
</div>  <!-- #EndLibraryItem --><!-- #BeginLibraryItem "/Library/footer-location.lbi" -->
<div data-role="navbar" data-iconpos="top" class="nav-glyphish-icons footerNavbarLocation">
    <ul>
        <li><a href="#" class="nav-button-home navGoHome" data-icon="custom" data-direction="reverse" data-transition="slide">Home</a></li>
        <li class="location"><a href="#" class="nav-button-products navLocationProducts" data-icon="custom">Stock</a></li>
        <li class="location"><a href="#" class="nav-button-socialconnect navLocationSocialConnect" data-icon="custom">Social</a></li>
    </ul>
</div> <!-- #EndLibraryItem --><!-- #BeginLibraryItem "/Library/footer-product.lbi" -->
<div data-role="navbar" data-iconpos="top" class="nav-glyphish-icons footerNavbarProduct">
    <ul>
        <li><a href="#" class="nav-button-home navGoHome" data-icon="custom" data-direction="reverse" data-transition="slide">Home</a></li>
        <li class="product"><a href="#" class="nav-button-locations navProductViewLocations" data-icon="custom">Stockists</a></li>
        <li class="product"><a href="#" class="nav-button-nearest navProductNearest" data-icon="custom">Nearest</a></li>
    </ul>
</div>  <!-- #EndLibraryItem --></div><!-- #EndLibraryItem --></div><!-- /footer -->


<!-- /////////////// Templates /////////////// -->
<script type="text/template" id="product-list-row">
	<a href="#">
		<img src="<%= = icon %>" />
		<h3><%= = name %></h3>
		<p><%= = teaser %></p>
	</a>
</script>
</div><!-- /page -->
    <!-- InstanceEndEditable -->
</body>
<!-- InstanceEnd --></html> 